_site
.DS_Store
.jekyll
.jekyll-metadata
.bundle
.sass-cache
Gemfile
Gemfile.lock
node_modules
package.json
.obsidian/workspace
.obsidian/hotkeys.json
.obsidian/core-plugins.json
.obsidian/appearance.json
.obsidian/app.json
templates/year-month-title.md
.obsidian/workspace.json
.obsidian/core-plugins-migration.json
